streamlit
pandas
openpyxl
pypdf
pymupdf
python-docx
python-dotenv
openai
anthropic
huggingface_hub
transformers
sentence-transformers
chromadb
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface